body {
  width :auto;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  padding: 20px;
  display: flex;
  flex-direction: column;
}



















/* .app {
  background: #f4f6f8;
  display: grid;
  justify-content:center;
  padding: 30px;
  color:#111827;
  
} */
   
.titlebox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px;
    border-radius: 5px;
    /* color:white; */
    
}
#name{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px;
    border-radius: 12px;
    border-width:2px;
    background-color:#ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    margin: 20px 0;
    padding: 20px;
}
#rules{
     display:flex;
    justify-content: center;
    align-items: center;
    border: 5px,solid black;
    border-radius: 12px;
    border-width:1px;
    background-color:#ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
     padding: 20px;
}

.stats{
    display:flex;
    border:5px;
    border-radius: 12px;
    border-width:1px;
    flex-direction: row;
   justify-content: space-between;
}
.stat{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px,solid black;
    border-radius: 12px;
    border-width:1px;
    background-color:#2563eb;
    width:100%;
     justify-content:center;
}

.stat span {
  display:flex;
  font-size: 20px;
  font-weight: bold;
  align-self:flex-end;
}

.make-guess {
  display: flex;
  margin: 20px 0;
}

.make-guess input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.make-guess button {
  margin-left: 10px;
  padding: 0 15px;
  border-radius: 10px;
  border: none;
  background: #1e40af;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#resetButton {
  margin-left: 10px;
  padding: 0 15px;
  border-radius: 10px;
  border: none;
  background: #1e40af;
  color: white;
  font-size: 20px;
  cursor: pointer;
}